body{
    background-color: whitesmoke;
}
header{
    background-color: black;
    padding: 16px;
}
header a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 15px;
}
ul li a{
    color: red;
    text-transform: capitalize;
    font-size: 15px;
}